<div id="fullpage">
    <div class="section" id="first-jumbo">
     <img id="sectionone" src="/css/images/homepage_three.png" style="width:100%">
     <!-- src="/css/images/homepage_three.png" -->
    </div>
    <div class="section">
        <div class="slide" > 
        <img id="sectiontwo" src="/css/images/first-slide.png" style="width:100%">
        </div>
        <div class="slide" > 
        <img id="sectiontwo" src="./css/images/iMac2.png" style="width:100%">

        </div>


        <div class="slide" > 
        <img id="sectiontwo" src="./css/images/Babybag_white_smallwords.png" style="width:100%">

        </div>

        <div class="slide" > 
        <img id="sectiontwo" src="./css/images/last_slide.png" style="width:100%">

        </div>
    </div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
</div>
